/* Configuração: Geral */
:root {
    font-size: 16px;
    --branco: #f1f1f1;
    --amarelo: #FDB827;
    --azul: #21209c;
    --preto: #000000;
}

body {
    color: var(--branco);
    background: url(/img/bg-projeto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card_contato {
    text-align: center;
    padding: 4.8rem;
}

.card_contato h2 {
    margin-top: 0.5rem;
}

.card_contato h5 {
    margin-top: 0.5rem;
}

#btn-msg {
    text-decoration: none;
    font-size: 25px;
    color: var(--branco);
    padding: 1rem 1rem;
    border: 0.2rem solid var(--amarelo);
    position: relative;
}

#btn-msg::before, #btn-msg::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: inherit;
    transition: all .5s;
}

#btn-msg::before {
    top: -15px;
    left: -15px;
    border-width: 3px 0 0 3px;
}

#btn-msg::after {
    bottom: -15px;
    right: -15px;
    border-width: 0 3px 3px 0;
}

#btn-msg:hover::before, #btn-msg:hover::after {
    width: calc(100% + 27px);
    height: calc(100% + 27px);
}